* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #fff8d0;
    --secondary-color: #2844a5;
}
body{
    background-color: var(--primary-color);
}

.logo {
    width: 90px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px 20px 20px 20px;
}

@media only screen and (max-width: 600px) {    
}
